{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block body %}

    <main id="form">

        <img src="{{ asset('images/themes/plain.jpg') }}" class="background" alt="background image of the game">

        <h1>Sign up</h1>

        <div class="global-wrapper">

            {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.email, {
                label: 'Email',
                'attr': {'placeholder': 'example@gmail.com'}
            }) }}

            {{ form_row(registrationForm.plainPassword, {
                label: 'Password',
                'attr': {'placeholder': 'Password'}
            }) }}

            {{ form_row(registrationForm.theme) }}

            <button type="submit" class="btn">Register</button>

            {{ form_end(registrationForm) }}

            {{ form_errors(registrationForm) }}

        </div>

        <div class="text">

            <p>Already have an account ?</p>
            <a href="{{path('app_login')}}">Sign in</a>

        </div>

    </main>

{% endblock %}
