{% extends 'base.html.twig' %}

{% block title %}
	Mon village
{% endblock %}

{% block body %}

	<main id="game">

		<img src="{{ asset(theme.image) }}" alt="background" class="theme">

		{{include("components/sidebar.html.twig") }}

		<div class="content">

			{{component('buildingCard', {
					building: user.townhall
				})}}

			{% for building in userBuildings %}
				{{component('buildingCard', {
					building: building
				})}}
			{% endfor %}

			<a href="{{ path('app_game_add_coins') }}" class="coins">
				<img src="{{ asset('images/game/coin.png') }}" alt="coins">
			</a>

		</div>

	</main>
{% endblock %}
