<div class="card">

    {% if building.currentState and building.currentState.image %}
        <img src="{{ asset(building.currentState.image) }}" alt="image">
    {% endif %}

    <div class="wrapper">

        <h3 class="name">{{ building.name }} level {{ building.level}}</h3>

        <p class="description">{{ building.description }}</p>

        {% if building.currentState %}

            <div class="upgradeWrapper">

                <h4 class="cost">Cost : {{ building.currentState.upgradeCost }}
                    <img src="{{ asset('images/game/coin.png') }}" alt="coins">
                </h4>

                <h3 class="xp">Xp :{{ building.currentState.upgradeReward }}</h3>

                <a href="{{ path('app_game_upgrade', {buildId: building.id}) }}">Upgrade</a>

            </div>

        {% else %}

            <h3>max level reach</h3>

        {% endif %}

    </div>

</div>
