<div class="sidebar">

	<div class="top-part">

		<h2 class="info"><span>Coins :</span>{{user.coins}}</h2>

		<h2 class="info"><span>Level :</span>{{user.xpLevel}}</h2>

		<h2 class="info"><span>Xp :</span>{{user.xpPoints}} / {{user.xpLevel * 100}}</h2>

		<div class="separator"></div>

		{% for building in buildings %}
			{{ component('sidebar-item', {
				building: building
			})}}
		{% else %}
			<p class="no-building">No more buildings available</p>
		{% endfor %}

	</div>

	<div class="bottom-part">
		<h5 class="email">Logged as {{ user.email }}</h5>
		<a href="/">Back to home</a>
	</div>

</div>
