<div class="sidebar">

	<h1>{{ user.email }}</h1>
	<h2>coins :
		{{user.coins}}
	</h2>
	<h2>xp level :
		{{user.xpLevel}}
	</h2>
	<h2>xp pooints :
		{{user.xpPoints}}
		/
		{{user.xpLevel * 100}}
	</h2>
	<a href="{{ path('app_game_add_coins') }}">
		generate coins
	</a>

	{% for building in buildings %}
		{{ component('buildingSideItem', {
			building: building
		})}}
	{% else %}
		<p>no more build</p>
	{% endfor %}

</div>
